body {
    background-color: gray;
    font-family: 'Quicksand', sans-serif; 
}
main {
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column; 
    max-width: 500px;
    height: 500px;
    border-radius: 3%;
    margin-top: 150px;
}
button {
    color: white;
    background-color: yellow;
    border-radius: 100%;
    border: 0;
    height: 50px;
    width: 50px;
    font-size: 2.5em;
}
header {
    display: flex;
    flex-direction: row; 
    justify-content: center;
} 

#nehtoto, #hohoto {
    width: 40%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}

footer {
    display: flex;
    width: 40%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}
